@{
    ViewBag.Title = "About Us";
}
<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-lg-4">Higher Diploma in Science in Computing. Final course project (Institute of Technology Tallaght).
        <div class="glyphicon-picture"><img style="width:300px; height:200px;" src="~/Content/Images/157653954.jpg" /></div>
    </div>

    <div class="col-lg-4">
        <address>
            Written by <a href="mailto:@IrishPets.Properties.Resources.DefEmail_Account">Support (@IrishPets.Properties.Resources.DefEmail_Account)</a><br />
            Location: Dublin, Ireland<br />
            <abbr title="Phone">Phone:</abbr><a href="tel:@IrishPets.Properties.Resources.DefPhone">@IrishPets.Properties.Resources.DefPhone</a><br>
        </address>
    </div>
</div>