@model IrishPets.Models.Pet

<div class="row">
    <div class="col-sm-3 thumbnail" id="petDetailsSmall">@Html.Partial("PetDetailsSmall", Model)</div>
    <div class="col-sm-4">@Html.Partial("PetImage", Model)</div> <br/> <br/>
</div>

