<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ipets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ipets.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IPets</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IPets</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:irishpets2.database.windows.net,1433;Initial Catalog=IPets_db;User ID=pets@irishpets2;Password=#Valsky01" Name="Data Source=tcp:irishpets2.database.windows.net,1433;Initial Catalog=IPets_db;User Id=pets@irishpets2;Password=#Valsky01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IrishPets.Models.IrishPetsDb, IrishPets" MigrationConfiguration="IrishPets.Migrations.Configuration, IrishPets" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:irishpets2.database.windows.net,1433;Initial Catalog=IPets_db;User Id=pets@irishpets2;Password=#Valsky01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>