<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://irishp4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>irishp4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>irishp4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$irishp4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ip4.database.windows.net,1433;Initial Catalog=irishp4_db;User ID=Valsky01@ip4;Password=#Valsky001" Name="Data Source=tcp:ip4.database.windows.net,1433;Initial Catalog=irishp4_db;User Id=Valsky01@ip4;Password=#Valsky001" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IrishPets.Models.IrishPetsDb, IrishPets" MigrationConfiguration="IrishPets.Migrations.Configuration, IrishPets" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ip4.database.windows.net,1433;Initial Catalog=irishp4_db;User Id=Valsky01@ip4;Password=#Valsky001</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>